version: "3.8"

services:
  evolution-api:
    image: atendai/evolution-api:latest
    container_name: evolution_api
    restart: always
    ports:
      - "8083:8083"
    environment:
      - AUTHENTICATION_API_KEY=429683C4C977415CAAFCCE10F7D57E11
      - SERVER_TYPE=http
      - SERVER_PORT=8083
